# dependencies
node_modules

# testing
coverage

# production
build

# dist
lib
shire-reckoning-*.tgz

# misc
.DS_Store
.idea
.vscode
.parcel-cache
.module-cache
.env
npm-debug.log
_site
_config.dev.yml
