# dependencies
node_modules

# testing
coverage

# source
config
public
scripts
src/examples
src/index.js
src/*.test.js
src/__tests__
.storybook
Lunar_Readalong.md

# production
build
shire-reckoning.ics

# dist
shire-reckoning-*.tgz

# misc
.DS_Store
.idea
.module-cache
.env
npm-debug.log
_site
_config.dev.yml
