.shire-calendar {
    background-color: gainsboro;
    border: .2rem solid black;
    border-collapse: collapse;
}
.shire-calendar td {
    border: .1rem solid black;
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: .8rem;
}
.shire-calendar caption {
    border: .2rem solid black;
    font-size: 2rem;
}
.rivendell-calendar td {
    height: 4rem;
}
.shire-caption, .rivendell-caption, .numenor-caption {
    background-color: azure;
}
.shire-calendar-controls {
    border-bottom: none !important;
    height: 4rem !important;
}
.rivendell-calendar-controls, .numenor-calendar-controls {
    height: 4rem !important;
}
.month-picker {
    margin: auto;
}
.month-picker td {
    border: none;
    height: 1rem;
}
.gregorian-display {
    font-size: .5rem;
}
.intercalary-day-separator {
    transform: rotate(-10deg);
}
.vertical-layout-filler {
    height: 0 !important;
    visibility: collapse;
}

.highlight      { background-color: yellow; }
.weekday-header { background-color: gainsboro; }
.holiday        { background-color: azure; }

.afteryule      { background-color: lightskyblue; }
.solmath        { background-color: lightsteelblue; }
.rethe          { background-color: yellowgreen; }
.astron         { background-color: forestgreen; }
.thrimidge      { background-color: lightcyan; }
.forelithe      { background-color: lemonchiffon; }
.afterlithe     { background-color: green; }
.wedmath        { background-color: darkolivegreen; }
.halimath       { background-color: darkgoldenrod; }
.winterfilth    { background-color: orange; }
.blotmath       { background-color: brown; }
.foreyule       { background-color: cornflowerblue; }

.spring   { background-color: forestgreen; }
.summer   { background-color: lemonchiffon; }
.autumn   { background-color: darkolivegreen; }
.fading   { background-color: darkgoldenrod; }
.winter   { background-color: lightskyblue; }
.stirring { background-color: yellowgreen; }
