<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>

<link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico">

<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/normalize.css" media="screen">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Fondamento" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/github-light.css" media="screen">


<link href="/shire-reckoning/static/css/main.31d92830.chunk.css" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/gh-pages-adjust.css" media="screen">


<script type="text/javascript" src="/shire-reckoning/static/js/runtime~main.f576be14.js"></script>

<script type="text/javascript" src="/shire-reckoning/static/js/2.722b7d01.chunk.js"></script>

<script type="text/javascript" src="/shire-reckoning/static/js/main.1f355418.chunk.js"></script>

