.shire-calendar {
    background-color: gainsboro;
    border: .2rem solid black;
    border-collapse: collapse;
}
.shire-calendar td {
    border: .1rem solid black;
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: .8rem;
}
.shire-calendar caption {
    border: .2rem solid black;
    font-size: 2rem;
}
.rivendell-calendar td {
    height: 4rem;
}
.align-shire-calendar {
    margin-top: 194rem;
}
.align-rivendell-calendar {
    margin-top: 70rem;
}
.month-picker {
    margin: auto;
}
.month-picker td, .month-picker-container {
    border: none;
    height: 4rem !important;
}
.gregorian-display {
    font-size: .5rem;
}
.date-time-input {
    width: 3.5rem;
    text-align: center;
}

.highlight      { background-color: yellow; }
.weekday-header { background-color: gainsboro; }
.holiday        { background-color: azure; }

.afteryule      { background-color: lightskyblue; }
.solmath        { background-color: lightsteelblue; }
.rethe          { background-color: yellowgreen; }
.astron         { background-color: forestgreen; }
.thrimidge      { background-color: lightcyan; }
.forelithe      { background-color: lemonchiffon; }
.afterlithe     { background-color: green; }
.wedmath        { background-color: darkolivegreen; }
.halimath       { background-color: darkgoldenrod; }
.winterfilth    { background-color: orange; }
.blotmath       { background-color: brown; }
.foreyule       { background-color: cornflowerblue; }

.spring   { background-color: forestgreen; }
.summer   { background-color: lemonchiffon; }
.autumn   { background-color: darkolivegreen; }
.fading   { background-color: darkgoldenrod; }
.winter   { background-color: lightskyblue; }
.stirring { background-color: yellowgreen; }
