.align-shire-calendar {
    padding-top: 200rem;
}
.align-rivendell-calendar {
    padding-top: 69rem;
}
.shire-calendar {
    margin: auto;
}
.date-time-input {
    width: 4rem;
    text-align: center;
}
.simulated-calendar caption {
    font-size: 1.5rem;
}
.simulated-date-controls {
    text-align: left;
}
.sync-calendar-controls {
    text-align: left;
}
.gregorian-date-picker {
    margin: auto;
    padding: 1rem;
}
.simulated-date-picker {
    display: flex;
}
.simulated-shire-date-picker .date-time-input {
    width: 5.5rem;
}
.simulated-shire-date-picker .simulated-shire-month-picker {
    width: 10rem;
}
