.align-shire-calendar {
    padding-top: 200rem;
}
.align-rivendell-calendar {
    padding-top: 69rem;
}
.shire-calendar {
    margin: auto;
}
.date-time-input {
    width: 5.5rem;
    text-align: center;
}
.month-picker {
    margin: auto;
}
.month-picker td {
    border: none;
    height: 1rem;
}
.simulated-calendar caption {
    font-size: 1.5rem;
}
.simulated-date-controls {
    text-align: left;
}
.sync-calendar-controls {
    text-align: left;
}
.gregorian-date-picker {
    margin: auto;
    padding: 1rem;
}
.simulated-date-picker {
    display: flex;
}
.simulated-shire-date-picker .date-time-input {
    width: 6.6rem;
}
.simulated-shire-date-picker .simulated-shire-month-picker {
    width: 5.7rem;
}
.shire-calendar-styled-example {
    font-family: Fondamento,'Libre Baskerville',Georgia,serif;
}
.shire-calendar-styled-example td {
    font-weight: normal;
}
.shire-calendar-styled-example .gregorian-display {
    font-family: 'Libre Baskerville',Georgia,serif;
    white-space: nowrap;
}
