.align-shire-calendar {
    margin-top: 194rem;
}
.align-rivendell-calendar {
    margin-top: 70rem;
}
.example-calendar {
    margin: auto;
}
.date-time-input {
    width: 4rem;
    text-align: center;
}
.simulated-calendar {
    width: 106rem;
}
.simulated-calendar caption {
    font-size: 1.5rem;
}
.simulated-date-controls {
    text-align: left;
}
.gregorian-date-picker {
    margin: auto;
    padding: 1rem;
}
